// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #00A6A6,
  secondary:  #F49F0A,
  danger:     #f53d3d,
  light:      #DAEFC4,
  dark:       #EFCA08,
  background-grey: #484545,
  background-light-blue: rgba(27, 220, 220, 0.86)
);

.logo{text-align:center; font-weight:bold; color:white; text-shadow: 1px 1px 1px black; 
font-size:60px;padding-top:30%;
     animation: colorchange 8s infinite; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 8s infinite; /* Chrome and Safari */}
.scroll-content {background: #484545}
.chip{box-shadow: 1px 1px 2px;}
.toolbar-background{background: #00A6A6!important; color:white;}
form ion-item{margin:2px 0;}



    @keyframes colorchange
    {
      0%   {color: #00A6A6;}
      25%  {color: #F49F0A;}
      50%  {color: #f53d3d;}
      75%  {color: #DAEFC4;}
      100% {color: rgba(27, 220, 220, 0.86);}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
     {
      0%   {color: #00A6A6;}
      25%  {color: #F49F0A;}
      50%  {color: #f53d3d;}
      75%  {color: #DAEFC4;}
      100% {color: rgba(27, 220, 220, 0.86);}
    }


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
