<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Edit Profile</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-title>Profile Settings</ion-title>


   <form (ngSubmit)="addNewSubject()"> 
        <ion-item>
        <ion-label >Add a tag </ion-label>
        <ion-input type="text" [(ngModel)]="newSubject" name="newSubject"></ion-input>
        </ion-item>
          <button ion-button type="submit" block (click)="addNewSubject">Add Todo</button>
        </form>

      
       
    

<div *ngFor="let subject of profile.subjects; let i = index;" style="padding:2px;">
  <div style="float:left;margin:2px; display:inline-block">
   <ion-chip>
  <ion-icon name="close-circle" (click)="removeSubject(i,1)"></ion-icon>
  <ion-label>{{subject}}</ion-label>
</ion-chip>
</div>
</div>
  
 <button ion-button round  (click)="saveProfileSettings()">Save</button>

  <!-- 
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
   
  </div> -->
</ion-content>
